*,
*::before,
*::after {
	border: 0 none;
}

body {
	font-family: ui-sans-serif, Helvetica, Arial, sans-serif;

	color: #212529;
	background-color: #f8f9fa;
	font-size: 18px;
	margin-inline-start: 10px;
	margin-inline-end: 25px;
}

main {
	max-width: 1200px;
}

p {
	line-height: 140%;
}

code {
	font-family: ui-monospace, monospace;
	font-size: 90%;
	background-color: #f1f3f5;
	padding: 1px;
	border-radius: 2px;
}

table {
	display: block;
	overflow-x: auto;
}

.title:active,
.title:hover,
.title:visited,
.title:link {
	color: inherit;
	text-decoration-color: #adb5bd;
}

.ls-long, .ls-short {
	overflow: auto;
}

.ls-long code,
.ls-short code {
	display: inline-block;
	padding: 4px;
	border-radius: 2px;
}

.ls-long code {
	height: 300px;
	overflow: auto;
}

.compliant-software span {
	display: inline-block;
	padding: 3px;
	margin: 2px;
	border-radius: 3px;
	background-color: #f1f3f5;
}

footer {
	text-align: center;
}

footer > :not(:last-child) {
	margin-inline-end: 5px;
}


